.Chat{
	margin:0px;
	display:grid;
	grid-template-areas:
				"cbar header header"
				"cbar script conv"
				"cbar script textbox";
	grid-template-columns:10rem 1fr 50%;
	grid-template-rows:5vh 85vh 10vh ;
	row-gap:0px;
	overflow:hidden;
}

.chatHeader{
	grid-area:header;
	font-size:4vh;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.contactsBar{
	grid-area:cbar;
	overflow:auto;
}

.contactSearch{
	display:block;
	width:100%;
	font-size: 1rem;
	padding: 0.5rem 0;
	border-width: 0;
}
.contactButton{
	display:block;
	width:100%;
	font-size: 1rem;
	border-style: solid;
	border-width: 0rem ;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin-bottom: 0.2rem;
	border-style: solid;
	border-width: 0;
	border-color: rgb(0, 0, 0);
	background-color: rgb(214, 214, 214);
	outline: none;
}

.contactButtonCompleted{
	background-color: rgb(100, 255, 126);
	
}
.contactButtonCompleted::before{
	content:'✔';
	
}

.contactButtonNeverContacted{
	box-shadow: 0 0 0.1rem blue, inset 0 0 0.7rem blue;
}
.contactButtonDNC{
	background-color: rgb(255,100,100);
}
.contactButtonSelected{
	color:rgb(255, 255, 255);
	border-width: 0.2rem;
	background-color: rgb(139, 139, 139);
	
}



.contactButtonCompleted.contactButtonSelected{
	background-color: rgb(13, 155, 25);
}
.contactButtonDNC.contactButtonSelected{
	background-color: rgb(141, 14, 14);
}

.contactButtonDNC.contactButtonCompleted{
	background-image: linear-gradient(135deg, rgb(252, 2,0),rgb(255,255,255), rgb(30, 231,0));
}

.contactButtonDNC.contactButtonCompleted.contactButtonSelected{
	background-image: linear-gradient(135deg, rgb(129, 25, 25), rgb(33, 99, 22));
}

.scriptLineContent{
	margin:1rem 0;
	white-space:pre-wrap;
	padding: 1rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: rgb(42, 142, 224);
	border-radius: 1rem;
}
.scriptLineTextButton{
	display: block;
	padding:1rem;
	outline: none;
	border:0;
	font-size: 1rem;
	border-radius: 0.5rem;
	color: rgb(0, 0, 0);
	text-align: center;
	width: calc( 100% - 2rem);

	margin:1rem;
	background-color: rgb(99, 183, 252);
}
.scriptLineButton{
	display: inline-block;
	padding: 0.5rem;
	border-radius: 0.5rem;
	color: rgb(0, 0, 0);
	text-align: center;
	margin:0.5rem 0;
	background-color: rgb(84, 240, 105);
}


.scriptLineSkipNext{
	display: inline-block;
	padding: 1rem;
	border-radius: 1rem;
	color: rgb(0, 0, 0);
	text-decoration: none;
	margin:0.5rem 0;
	background-color: rgb(173, 157, 247);
}

.scriptQuestions{
	
	margin:1rem;
}

.scriptQuestion{
	border-radius: 1rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: rgb(48, 224, 42);
	margin:1rem 0 1rem auto;
	padding: 1rem;
	text-align: right;
	width: fit-content;

}
.scriptQuestionText{
	font-weight: bold;
	
}

.scriptAnswer{
	padding:1rem;
}

.sendTextButton{
	background-color: rgb(84, 204, 240);
	font-size: 1rem;
}
.sendTextButton::after{
	content:'';
	font-size: 0;
	width: 0;
	height: 0;
	margin:0 0 0 1rem;
	padding: 0 ;
	display: inline;
	border-style: solid;
	border-color:transparent  transparent  transparent rgb(0, 0, 0) ;
	border-width:  1rem 0rem 1rem 2.5rem ;
}

.contactCompleteReminder{
	padding: 1rem;
	border-color: red;
	border-style: solid;
	border-width: 0.5rem;
	border-radius: 1rem;
	margin:1rem;
}